<div class="container my-5 bg-white p-5 rounded-lg">
  <div class="row">
    <h1>ユーザー編集</h1>
  </div>

  <!--ユーザー編集フォーム-->
  <%= form_with model: @customer, url: customer_path(@customer), method: :patch do |f| %>
    <div class="row mt-5">
      <%= f.label "名前" %><br>
      <%= f.text_field :name ,class: "form-control" %>
      <!--エラーメッセージ-->
      <%= render "error_messages", model: @form , attribute: :name , customer: @customer %>
    </div>
    <div class="row mt-4">
      <%= f.label "画像" %>
    </div>
    <div class="row">
      <%= f.file_field :profile_image, accept: "image/*" %>
    </div>
    <div class="row mt-4">
      <%= f.label "自己紹介" %><br>
      <%= f.text_area :introduction ,class: "form-control" %>
    </div>
    <div class="row mt-4">
      <%= f.submit "編集", class: "btn btn-success mx-auto" %>
    </div>
  <% end %>
</div>