<div class="container my-5 bg-white p-5 rounded-lg">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12">
      <h1 class="h1-font-size"><%= image_tag @customer.get_profile_image(50,50),class: "rounded-circle mb-2 mr-2" %><%= @customer.name %></h1>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
      <!--ログインしているなら-->
      <% if customer_signed_in? %>
        <%= link_to "ユーザー一覧" , customers_path ,class: "btn btn-sm btn-primary btn-size" %>

        <!--現在のユーザーとページのユーザーが違うなら-->
        <% if @customer != current_customer %>
          <!--フォローしているか確認-->
          <% if current_customer.followings?(@customer) %>
            <%= link_to "フォローを外す" , customer_relationships_path(@customer) , method: :delete, class: "btn btn-sm btn-danger btn-size" %>
          <% else %>
            <%= link_to "フォローする" , customer_relationships_path(@customer) , method: :post, class: "btn btn-sm btn-info btn-size" %>
          <% end %>
        <% else %>
          <%= link_to "編集" , edit_customer_path(@customer), class: "btn btn-sm btn-success btn-size" %>
          <%= link_to "お気に入り" , note_favorite_path(@customer), class: "btn btn-sm btn-warning btn-size" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!--プロフィールがあるか無いかで条件分岐-->
  <% if @customer.introduction != nil %>
    <div class="row mt-3">
      <div class="col-md-5 col-sm-12">
        <h3 class="h3-font-size">プロフィール</h3>
        <%= safe_join(@customer.introduction.split("\n"), tag(:br)) %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <!--ログインしているなら-->
    <% if customer_signed_in? %>
      <%= link_to customer_followings_path(@customer) , class: "text-dark" do %>
        <small class="mx-3">フォロー数:<%= @customer.followings.count %></small>
      <% end %>
      <%= link_to customer_followers_path(@customer) , class: "text-dark" do %>
        <small>フォロワー数:<%= @customer.followers.count %></small>
      <% end %>
    <% end %>
  </div>

  <h3 class="mt-5 h1-font-size">カテゴリー</h3>
  <div class="row mb-5">
    <!--現在のユーザーとページのユーザーが同じなら-->
    <% if current_customer == @customer %>
      <%= form_with model: @category , url: categories_path, method: :post do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "追加" %>
      <% end %>
    <% end %>
  </div>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col-12">
        <details>
        <summary class="mb-3 stick-out">
          <i class="fa-regular fa-folder"></i> <%= link_to category.name , category_path(category) , class: "text-dark" %>
        </summary>

        <% category.notes.order(:title).each do |note| %>
          <!--ノートの公開ステータスが公開、または現在のユーザーとページのユーザーが同じなら-->
          <% if (note.publish_status == "publish") || (current_customer == @customer) %>
            <p class="pl-3 mt-3 stick-out"><i class="fa-regular fa-file"></i> <%= link_to note.title , note_path(note),class: "text-dark" %></p>
          <% end %>
        <% end %>
        </details>
      </div>
    </div>
  <% end %>
</div>