<div class="container my-5 bg-white p-5 rounded-lg">
  <div class="row mb-5">
    <div class="col-md-7 col-sm-12">
      <h1>検索ワード: <%= @word %></h1>
    </div>

    <div class="col-md-5 col-sm-12 text-md-right">
      <%= render "public/searches/search" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>タイトル検索結果</h2>
      <!--ノートが一つでもあれば-->
      <% if @notes.count != 0 %>
      <table class="table border">
        <tr class="thead">
          <th class="bg-dark text-white"></th>
          <th class="bg-dark text-white">作成者</th>
          <th class="bg-dark text-white">タイトル</th>
          <th class="bg-dark text-white">カテゴリー</th>
          <th class="bg-dark text-white">いいね数</th>
          <th class="bg-dark text-white"></th>
        </tr>
        <% @notes.each do |note| %>
          <tr>
            <td></td>
            <td data-label="作成者">
              <%= link_to customer_path(note.customer) ,class: "text-dark" do %>
                <%= image_tag note.customer.get_profile_image(25,25) , class: "rounded-circle" %>
                <%= note.customer.name %>
              <% end %>
            </td>
            <td data-label="タイトル"><%= link_to note.title , note_path(note) , class: "text-dark" %></td>
            <td data-label="カテゴリー">
              <!--カテゴリーがあれば-->
              <% if note.category_id != nil %>
                <%= link_to note.category.name, category_path(note.category), class: "text-dark" %>
              <% end %>
            </td>
            <!--ログインしているなら-->
            <% if customer_signed_in? %>
              <td class="favorite-<%= note.id %>" data-label="いいね数"><%= render "public/favorites/like", note: note %></td>
            <% else %>
              <td>
                <%= link_to new_customer_session_path, class: "text-dark" do %>
                  <i class="fa-regular fa-heart"></i><%= note.favorites.count %>
                <% end %>
              </td>
            <% end %>
            <td><%= link_to "見る", note_path(note),class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
      <% else %>
        <p>見つかりませんでした</p>
      <% end %>
    </div>
    <div class="mx-auto">
      <%= paginate @notes %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2>カテゴリー検索結果</h2>
      <!--urlにnoteが含まれていれば-->
      <% if request.url.include?("note") %>
        <!--カテゴリー数が0以外なら-->
        <% if @categories.count != 0 %>
          <table class="table border">
            <tr class="thead">
              <th class="bg-dark text-white"></th>
              <th class="bg-dark text-white">作成者</th>
              <th class="bg-dark text-white">タイトル</th>
              <th class="bg-dark text-white">カテゴリー</th>
              <th class="bg-dark text-white">いいね数</th>
              <th class="bg-dark text-white"></th>
            </tr>
            <% @categories.each do |note| %>
              <tr>
                <td></td>
                <td data-label="作成者">
                  <%= link_to customer_path(note.customer) ,class: "text-dark" do %>
                    <%= image_tag note.customer.get_profile_image(25,25) , class: "rounded-circle" %>
                    <%= note.customer.name %>
                  <% end %>
                </td>
                <td data-label="タイトル"><%= link_to note.title , note_path(note) , class: "text-dark" %></td>
                <td data-label="カテゴリー">
                  <!--カテゴリーがあれば-->
                  <% if note.category_id != nil %>
                    <%= link_to note.category.name, category_path(note.category), class: "text-dark" %>
                  <% end %>
                </td>
                <!--ログインしているなら-->
                <% if customer_signed_in? %>
                  <td class="favorite-<%= note.id %>" data-label="いいね数"><%= render "public/favorites/like", note: note %></td>
                <% else %>
                  <td>
                    <%= link_to new_customer_session_path, class: "text-dark" do %>
                      <i class="fa-regular fa-heart"></i><%= note.favorites.count %>
                    <% end %>
                  </td>
                <% end %>
                <td><%= link_to "見る", note_path(note),class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p>見つかりませんでした</p>
        <% end %>
      <% end %>
    </div>
    <div class="mx-auto">
      <%= paginate @categories %>
    </div>
  </div>
</div>