<div class="container my-5 bg-white p-5 rounded-lg">
  <div class="row mb-5">
    <div class="col-md-7 col-sm-12">
      <h1 class="h1-font-size">ランキング</h1>
    </div>

    <div class="col-md-5 col-sm-12 text-md-right">
      <%= render "public/searches/search" %>
    </div>
  </div>


  <table class="table border">
    <tr class="thead">
      <th class="bg-dark text-white"></th>
      <th class="bg-dark text-white">作成者</th>
      <th class="bg-dark text-white">タイトル</th>
      <th class="bg-dark text-white">カテゴリー</th>
      <th class="bg-dark text-white">いいね数</th>
      <th class="bg-dark text-white"></th>
    </tr>
    <% num = 0 %>
    <% @notes.each do |note| %>

      <!--ノートのステータスが公開になっていたら表示-->
      <% if note.publish_status == "publish" %>
       <% num += 1 %>
        <tr>
          <td>
            <b><%= "#{num}位" %></b>
          </td>
          <td class="stick-out" data-label="作成者">
            <%= link_to customer_path(note.customer) ,class: "text-dark" do %>
              <%= image_tag note.customer.get_profile_image(25,25) , class: "rounded-circle mb-1" %>
              <%= note.customer.name %>
            <% end %>
          </td>
          <td class="stick-out" data-label="タイトル"><%= link_to note.title , note_path(note) , class: "text-dark" %></td>
          <td class="stick-out" data-label="カテゴリー">
            <!--カテゴリーがあれば-->
            <% if note.category_id != nil %>
              <%= link_to note.category.name, category_path(note.category), class: "text-dark" %>
            <% end %>
          </td>
          <!--ログインしていれば-->
          <% if customer_signed_in? %>
            <td class="favorite-<%= note.id %>" data-label="いいね数"><%= render "public/favorites/like", note: note %></td>
          <% else %>
            <td data-label="">
              <%= link_to new_customer_session_path, class: "text-dark" do %>
                <i class="fa-regular fa-heart"></i><%= note.favorites.count %>
              <% end %>
            </td>
          <% end %>
          <td data-label=""><%= link_to "見る", note_path(note),class: "btn btn-primary" %></td>
        </tr>

        <!--100位まで表示する-->
        <% if num == 100 %>
          <% break %>
        <% end %>

      <% end %>
    <% end %>
  </table>
</div>