<div class="container my-5 bg-white p-5 rounded-lg">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12">
      <h1 class="h1-font-size"><%= image_tag @customer.get_profile_image(50,50),class: "rounded-circle mb-2 mr-2" %><%= @customer.name %></h1>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
      <!--顧客が退会しているかどうかで条件分岐-->
      <% if @customer.is_deleted == false %>
        <span>会員ステータス: <b class="text-success">有効</b></span>
      <% else %>
        <span>会員ステータス: <b class="text-danger">退会</b></span>
      <% end %>
    </div>
  </div>
  <!--プロフィールがあるか無いかで条件分岐-->
  <% if @customer.introduction != nil %>
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <h3 class="h3-font-size">プロフィール</h3>
        <%= safe_join(@customer.introduction.split("\n"), tag(:br)) %>
      </div>
    </div>
  <% end %>
  <h3 class="mt-5 mb-4 h3-font-size">カテゴリー</h3>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col-12">
        <details>
        <summary class="mb-3 stick-out">
          <i class="fa-regular fa-folder"></i> <%= category.name  %>
        </summary>

        <% category.notes.order(:title).each do |note| %>
          <!--ノートの公開ステータスが公開、ノートを作成した人のページなら-->
          <% if (note.publish_status == "publish") && (note.customer == @customer) %>
            <p class="pl-3 mt-3 stick-out"><i class="fa-regular fa-file"></i> <%= link_to note.title , admin_note_path(note),class: "text-dark" %></p>
          <% end %>
        <% end %>
        </details>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <details>
        <summary class="mb-3 stick-out">
          <i class="fa-regular fa-folder"></i> その他
        </summary>

        <% @notes.order(:title).each do |note| %>
          <!--ノートの公開ステータスが公開、かつカテゴリーに紐付いてなく、ノートを作成した人のページなら-->
          <% if (note.publish_status == "publish") && (note.category == nil) && (note.customer == @customer) %>
            <p class="pl-3 mt-3 stick-out"><i class="fa-regular fa-file"></i> <%= link_to note.title , admin_note_path(note),class: "text-dark" %></p>
          <% end %>
        <% end %>
      </details>
    </div>
  </div>

  <div class="col-12 text-center">
      <%= link_to "編集" , edit_admin_customer_path(@customer), class: "btn btn-success" %>
    </div>
</div>