<div class="container my-5 bg-white p-5 rounded-lg">
  <div class="row">
    <h1 class="h1-font-size">カテゴリー編集</h1>
  </div>
  <!--カテゴリー編集フォーム-->
  <%= form_with model: @category, url: category_path(@category), method: :patch do |f| %>
    <div class="row mt-5">
      <%= f.label "カテゴリー名" %><br>
      <%= f.text_field :name ,class: "form-control" %>
      <!--エラーメッセージ-->
      <div class="row">
        <%= render "error_messages", model: @form, attribute: :name , category: @category %>
      </div>
    </div>
    <div class="row mt-5">
      <%= f.submit "編集", class: "btn btn-success mx-auto" %>
    </div>
  <% end %>
</div>