<div class="container my-5 bg-white p-5 rounded-lg">
  <h1>ノート編集</h1>

  <!--ノート編集フォーム-->
  <%= form_with model: @note , url: note_path , method: :patch do |f| %>
    <!--タイトル-->
    <div class="row mt-3">
      <div class="col-12">
        <div class="bg-dark text-center pt-2">
          <%= f.label "タイトル",class: "text-white" %>
        </div>
        <%= f.text_field :title ,placeholder: "タイトルを記入" ,class: "form-control" %>
        <!--エラーメッセージ-->
        <%= render "error_messages", model: @form, attribute: :title, note: @note %>
      </div>
    </div>

    <!--できるようになること-->
    <div class="row mt-3">
      <div class="col-12">
        <div class="bg-dark text-center pt-2">
          <%= f.label "できるようになること",class: "text-white" %>
        </div>
        <%= f.text_area :can,placeholder: "この記事を見ることで、できるようになることを記入",class: "form-control" %>
        <!--エラーメッセージ-->
        <%= render "error_messages", model: @form, attribute: :can, note: @note %>
      </div>
    </div>

    <!--必要なもの-->
    <div class="row mt-3">
      <div class="col-12">
        <div class="bg-dark text-center pt-2">
          <%= f.label "必要なもの",class: "text-white" %>
        </div>
        <%= f.text_area :necessities , placeholder: "必要なものを記入" , class: "form-control" %>
      </div>
    </div>

    <!--フォームを追加する記述-->
    <div class="row mt-3">
      <div class="col-12">
        <div class="text-right bg-dark p-2">
          <%= link_to_add_association "＋",f , :note_procedures ,data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'append'}, class: "btn btn-dark rounded-circle" %>
        </div>
      </div>
    </div>

    <!--フォームを追加したときに表示される-->
    <div class="row">
      <div class="col-12">
        <div class="texts">
          <!--エラーメッセージ-->
          <% if @note.errors.any? %>
            <ul class="pl-0">
              <% @note.errors.full_messages[0,1].each do |message| %>
                <% if message.include?("手順") %>
                  <li class="error-message"><%= "※ #{message}" %></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
          <!--フォームを表示する-->
          <%= f.fields_for :note_procedures do |t| %>
            <%= render "note_procedure_fields", f: t %>
          <% end %>
        </div>
        <div id="detail-association-insertion-point"></div>
      </div>
    </div>

    <!--まとめ-->
    <div class="row mt-3">
      <div class="col-12">
        <div class="bg-dark text-center pt-2">
          <%= f.label "まとめ",class: "text-white" %>
        </div>
        <%= f.text_area :conclude , placeholder: "まとめを記入" , class: "form-control" %>
        <!--エラーメッセージ-->
        <%= render "error_messages", model: @form, attribute: :conclude, note: @note %>
      </div>
    </div>

    <!--カテゴリー選択機能-->
    <div class="row mt-5">
      <div class="col-12">
        <div class="text-center">
          <%= f.label "カテゴリー" %><br>
          <%= f.collection_select(:category_id, current_customer.categories.all, :id ,:name, prompt: "カテゴリーを選択して下さい", class: "form-control") %>
        </div>
      </div>
    </div>

    <!--公開ステータス-->
    <div class="row mt-5">
      <div class="col-12">
        <div class="text-center">
          <%= f.label "公開ステータス" %><br>
          <%= f.radio_button :publish_status, :publish, checked: true %>
          <%= f.label :publish_status_publish, Note.publish_statuses_i18n[:publish] %>
          <%= f.radio_button :publish_status, :nonpublic %>
          <%= f.label :publish_status_nonpublic, Note.publish_statuses_i18n[:nonpublic] %>
        </div>
      </div>
    </div>

    <!--フォーム保存ボタン-->
    <div class="row my-5">
      <div class="col-12">
        <div class="text-center mt-3">
          <%= f.submit "保存", class: "btn btn-info" %>
        </div>
      </div>
    </div>

  <% end %>
</div>