<div class="container bg-white rounded-lg">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8 my-3">
      <span class="block">作成日: <%= @note.created_at.strftime("%Y/%m/%d") %></span>
      <span class="ml-md-3">最終更新日: <%= @note.updated_at.strftime("%Y/%m/%d") %></span>
      <!--ログインしていれば-->
      <% if customer_signed_in? %>
        <span class="favorite-<%= @note.id %> ml-1 ml-md-5 block">
          <%= render "public/favorites/like", note: @note %>
        </span>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4 my-3">
      <!--現在のユーザーとページのユーザーが同じなら-->
      <% if current_customer == @note.customer %>
        <div class="text-md-right">
          公開ステータス:
          <!--ノートの公開ステータスが公開であれば-->
          <% if @note.publish_status == "publish" %>
            <%= Note.publish_statuses_i18n[:publish] %>
          <% else %>
            <%= Note.publish_statuses_i18n[:nonpublic] %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h1 class="font-weight-bold h-title"><%= @note.title %></h1>
      <!--カテゴリーがあれば-->
      <% if @note.category_id != nil %>
        <p class="text"><i class="fa-solid fa-tag"></i> <%= link_to @note.category.name , category_path(@note.category),class: "text-dark" %></p>
      <% end %>
      <h3 class="h-frame">できるようになること</h3>
      <p class="text"><%= safe_join(@note.can.split("\n"),tag(:br)) %></p>
      <!--必要なものがあれば-->
      <% if @note.necessities != "" %>
        <h3 class="h-frame">必要なもの</h3>
        <p class="text"><%= safe_join(@note.necessities.split("\n"),tag(:br)) %></p>
      <% end %>
      <h3 class="h-frame">手順</h3>
      <% num = 0 %>
      <% @note.note_procedures.each do |procedure| %>
        <% num += 1 %>
        <p class="text"><%= link_to "#{num}. #{procedure.procedure}", "#procedure-#{num}", class: "text-dark" %></p>
      <% end %>
      <h3 class="h-frame">手順説明</h3>
      <% num = 0 %>
      <% @note.note_procedures.each do |procedure| %>
        <% num += 1 %>
        <h4 class="h-double" id="procedure-<%= num %>"><%= "#{num}. #{procedure.procedure}" %></h4>
        <!--手順説明画像があるなら-->
        <% if procedure.procedure_image.attached? %>
          <p class="text-center text"><%= image_tag procedure.get_procedure_image(1000,1000) , class: "img-fluid img-thumbnail" %></p>
        <% end %>
        <p class="mb-3 text"><%= safe_join(procedure.explanation.split("\n"),tag(:br)) %></p>
      <% end %>

      <h3 class="h-frame">まとめ</h3>
      <p class="text"><%= safe_join(@note.conclude.split("\n"),tag(:br)) %></p>
    </div>
  </div>

  <div class="row my-5">
    <!--現在のユーザーとページのユーザーが同じなら-->
    <% if current_customer == @note.customer %>
      <div class="col-12 text-center mb-5">
        <%= link_to "編集" , edit_note_path(@note), class: "btn btn-sm btn-success" %>
        <%= link_to "削除" , note_path(@note), method: :delete , "data-confirm" => "本当に削除しますか？" , class: "btn btn-sm btn-danger" %>
      </div>
    <% end %>
  </div>
</div>

<!--現在のユーザーとページのユーザーが違い、かつログインしているなら-->
<% if (current_customer != @note.customer) && (customer_signed_in?) %>
  <div class="container bg-white rounded-lg my-5">
    <div class="row">
      <div class="col-12 my-5">
        <h2 class="mx-3 mx-md-5">
          <%= link_to customer_path(@note.customer) ,class: "text-dark" do %>
            <%= image_tag @note.customer.get_profile_image(40,40) , class: "rounded-circle mb-2" %>
            <%= @note.customer.name %>
          <% end %>
        </h2>
        <div class="ml-5">
          <!--プロフィールがあれば-->
          <% if @note.customer.introduction != nil %>
            <p class="my-3 mx-1 m-md-5">
              <%= safe_join(@note.customer.introduction.split("\n"), tag(:br)) %>
            </p>
          <% end %>
          <div class="ml-5">
            <!--フォローしているかの確認-->
            <% if current_customer.followings?(@note.customer) %>
              <%= link_to "フォローを外す" , customer_relationships_path(@note.customer) , method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%= link_to "フォローする" , customer_relationships_path(@note.customer) , method: :post, class: "btn btn-info" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!--ログインしていれば-->
<% if customer_signed_in? %>
  <div class="container bg-white rounded-lg mb-5">

    <!--コメントorメモフォーム-->
    <div class="row mb-5">
      <div class="col-12 text-center mt-5">
        <%= render "public/note_comments/form", note: @note, comment: @comment %>
      </div>
    </div>

    <!--コメント表示-->
    <details class="mb-3">
      <summary class="comment-title rounded-lg text-center"><b>コメント</b></summary>
      <div class="row my-5">
        <div class="comments-index-comment col-12">
          <%= render "public/note_comments/index_comment", note: @note %>
        </div>
      </div>
    </details>

    <!--メモ表示-->
    <details class="pb-3">
      <summary class="memo-title mb-5 rounded-lg text-center"><b>メモ</b></summary>
      <div class="row mb-5">
        <div class="comments-index-memo col-12">
          <%= render "public/note_comments/index_memo", note: @note %>
        </div>
      </div>
    </details>

  </div>
<% end %>