<!DOCTYPE html>
<html>
  <head>
    <title>Meno</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/f391cbb1de.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">

    <!--ヘッダー-->
    <header class="bg-dark shadow-sm">
      <%= render "layouts/header" %>
    </header>

    <!--メイン-->
    <main class="min-vh-100">
      <!--フラッシュメッセージ-->
      <%= render "layouts/flash_messages" %>

      <%= yield %>
    </main>

    <!--フッター-->
    <footer class="bg-dark">
      <%= render "layouts/footer" %>
    </footer>

  </body>
</html>
